@keyframes redes-animation{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.footer{
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: var(--max-width-container);
    padding: var(--padding-container);
    background-color: var(--primary-theme-color);
    padding-bottom: 1em;
}

.footer-nav-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1em;
    background-color: var(--primary-shadow-color);
    border-radius: var(--border-radius);
    margin: 1rem 0;
    font-size: 1rem;
}

.footer-nav-redes__header{
    margin: 0;
}

.footer-nav-redes__link-one{
    transition: var(--all-transitions);
    animation: redes-animation 1s ease-in-out 0s infinite alternate;
}

.footer-nav-redes__link-two{
    transition: var(--all-transitions);
    animation: redes-animation 1s ease-in-out -0.25s infinite alternate;
}

.footer-nav-redes__link-three{
    transition: var(--all-transitions);
    animation: redes-animation 1s ease-in-out -0.5s infinite alternate;
}

.footer-nav-navegation{
    font-size: 1.25rem;
}

.footer-nav-navegation__menu-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav-navegation__menu-name{
    font-size: 1.2rem;
}

.footer-nav-navegation__checkbox{
    display: none;
}

.footer-nav-navegation__checkbox:checked+.footer-nav-navegation__link-list{
    display: none;
}

.footer-nav-navegation__link-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    background-color: var(--primary-shadow-color);
    padding: 0.5em;
    border-radius: var(--border-radius);
}

.footer-nav-navegacion__link{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.footer-nav-navegacion__link-header{
    color: var(--secondary-theme-color);
}

@media (min-width: 854px){

    .footer-container{
        flex-direction: row;
        padding: 2em;
        justify-content: space-around;
        margin-top: 1rem;
    }

    .footer-nav-redes{
        font-size: 1.5rem;
    }

    .footer-nav-navegation{
        font-size: 1.5rem;
    }

    .footer-nav-navegation__menu-name{
        color: var(--secondary-theme-color);
        font-size: 2rem;
    }

    .footer-nav-navegation__menu-list{
        flex-direction: row;
        gap: 2rem;
    }

    .footer-nav-navegation__checkbox:checked+.footer-nav-navegation__link-list{
        display: flex;
    }

    .footer-nav-navegation__link-list{
        background-color: transparent;
        padding: 0.5em 0;
    }
}