.header {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  font-family: var(--font-header-footer);

}

.header-nav {
  padding: 0;
  margin: 0;
  background-color:var(--primary-theme-color);
}

.header-nav__containersuperior {
  display: none;
}

.header-nav__register-link{
    display:none;
}

.header-nav__container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  max-width: var(--max-width-container);
  padding: var(--padding-container);
}

  .header-nav__link-logo-container {
    display: flex;
    margin-bottom: 0.5em;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--all-transitions);

  }


.header-nav__link-logo-container:hover {
  box-shadow:
    0 0 0.25rem 0 var(--primary-highlight-color),
    0 0 0.5rem 0 var(--primary-highlight-color);
}

.header-nav__link-logo {
  height: 100%;
}

.header-nav__menu-icon-label {
  font-size: 2rem;
  cursor: pointer;
  transition: var(--all-transitions);
}

.header-nav__menu-icon-label:hover {
  text-shadow:
    0 0 0.25rem var(--primary-highlight-color),
    0 0 0.5rem var(--primary-highlight-color);
}

.header-nav__menu-icon-checkbox {
  display: none;
}

.header-nav__menu-icon-checkbox:checked+.header-nav__menu-link-list {
  left: 0;
}

.header-nav__menu-link-list {
  position: fixed;
  top: 5.5rem;
  left: 100%;
  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  background-color:var(--secondary-theme-color);
  list-style:none;
  transition: var(--all-transitions);
}

.header-nav__menu-link-item {
  display: flex;
}

.header-nav__menu-link {
  position: relative;
  color: var(--text-color);
  text-shadow:
    0 0 0.125rem var(--primary-highlight-color),
    0 0 0.25rem var(--primary-highlight-color);
  font-weight: 800;
  text-decoration: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link:hover,
.header-nav__menu-link--active {
  color: var(--primary-highlight-color);
}

.header-nav__menu-link::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-highlight-color);
  transition: var(--all-transitions);
}

.header-nav__menu-link:hover::after,
.header-nav__menu-link--active::after {
  width: 100%;
}

@media (min-width: 854px) {
  .header-nav__menu-icon-label {
    display: none;
  }

  .header-nav__containersuperior {
    display: flex;
    align-items: center;
    background-color: rgb(210, 30, 30);
    justify-content:space-between;
    max-width: var(--max-width-container);
    padding: 0 0.5em;
    margin-bottom: 0.5rem;
  }

  .header-nav__register-link{
    display: flex;
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    color: var(--button-text-color);
    font-weight: 300;
    text-decoration: none;
    margin: 0;
    padding: 0.5em 1em;
    transition: var(--all-transitions);
}

  .header-nav__menu-link-list {
    position: static;
    width: auto;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    background-color: transparent;
  }
}