/* @keyframes delivery {

    100% {
        left: 0rem;
        transform: translateX(104rem);
    }
} */

/* @keyframes deliveryMobile {
    100% {
        left: 0rem;
        transform: translateX(30rem);
    }
} */

.section__figure-image-container {
    display: grid;
    gap: 0.5rem;
    max-width: var(--max-width-container);
    margin: auto;
    padding: var(--padding-container);
}

.section__figure-image {
    width: 100%;
}

.section__figure-image:nth-child(1) {
    display: none;
}

.section__figure-image:nth-child(2) {
    display: none;
}

.section__figure-image:nth-child(3) {
    display: none;
}

.section__figure-image:nth-child(6) {
    display: none;
}

/* .section__delivery-image-container {
    max-width: var(--max-width-container);
} */

/* .section__delivery-image {

    width: 0%;
} */


@media (min-width: 854px) {

    .section__figure-image-container {
        width: 65%;
    }

    .section__figure-image:nth-child(n) {
        display: flex;
    }

    .section__figure-image:nth-child(7) {
        display: none;
    }

    .section__figure-image-container {
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "item1 item3 item5"
            "item2 item3 item6"
            "item4 item4 item6";
    }

    .section__figure-image:nth-child(1) {
        grid-area: item1;
        transition: all ease-in-out 0.5s;
    }

    .section__figure-image:nth-child(1):hover {
        box-shadow:
            0 0 0.25rem 0 var(--primary-highlight-color),
            0 0 0.5rem 0 var(--primary-highlight-color);
        transform: translateY(-0.2rem);
    }

    .section__figure-image:nth-child(2) {
        grid-area: item2;
        transition: all ease-in-out 0.5s;
    }

    .section__figure-image:nth-child(2):hover {
        box-shadow:
            0 0 0.25rem 0 var(--primary-highlight-color),
            0 0 0.5rem 0 var(--primary-highlight-color);
        transform: translateY(-0.2rem);
    }

    .section__figure-image:nth-child(3) {
        grid-area: item3;
        transition: all ease-in-out 0.5s;
        height: 100%;
    }

    .section__figure-image:nth-child(3):hover {
        box-shadow:
            0 0 0.25rem 0 var(--primary-highlight-color),
            0 0 0.5rem 0 var(--primary-highlight-color);
        transform: translateY(-0.2rem);
    }

    .section__figure-image:nth-child(4) {
        grid-area: item4;
        transition: all ease-in-out 0.5s;
    }

    .section__figure-image:nth-child(4):hover {
        box-shadow:
            0 0 0.25rem 0 var(--primary-highlight-color),
            0 0 0.5rem 0 var(--primary-highlight-color);
        transform: translateY(-0.2rem);
    }

    .section__figure-image:nth-child(5) {
        grid-area: item5;
        height: 100%;
        transition: all ease-in-out 0.5s;
    }

    .section__figure-image:nth-child(5):hover {
        box-shadow:
            0 0 0.25rem 0 var(--primary-highlight-color),
            0 0 0.5rem 0 var(--primary-highlight-color);
        transform: translateY(-0.2rem);
    }


    .section__figure-image:nth-child(6) {
        grid-area: item6;
        height: 100%;
        transition: all ease-in-out 0.5s;
    }

    .section__figure-image:nth-child(6):hover {
        box-shadow:
            0 0 0.25rem 0 var(--primary-highlight-color),
            0 0 0.5rem 0 var(--primary-highlight-color);
        transform: translateY(-0.2rem);
    }

    /* .section__delivery-image {
        z-index: -1;
        width: 10%;
        position: absolute;
        top: 90%;
        animation: delivery 3s linear -1s infinite;
        pointer-events: none;
    }
    */

}